@font-face {
    font-family: 'Roboto Lt';
    src: url('../fonts/Roboto/Roboto-Light.eot');
    src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'), 
        url('../fonts/Roboto/Roboto-Light.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Cn';
    src: url('../fonts/Roboto/Roboto-Condensed.eot');
    src: url('../fonts/Roboto/Roboto-Condensed.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Roboto/Roboto-Condensed.woff2') format('woff2'), 
        url('../fonts/Roboto/Roboto-Condensed.woff') format('woff'), 
        url('../fonts/Roboto/Roboto-Condensed.ttf') format('truetype'), 
        url('../fonts/Roboto/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Decima Mono Cyr';
    src: url('../fonts/DM Mono/DecimaMonoCyrLt.eot');
    src: url('../fonts/DM Mono/DecimaMonoCyrLt.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/DM Mono/DecimaMonoCyrLt.woff2') format('woff2'), 
        url('../fonts/DM Mono/DecimaMonoCyrLt.woff') format('woff'), 
        url('../fonts/DM Mono/DecimaMonoCyrLt.ttf') format('truetype'), 
        url('../fonts/DM Mono/DecimaMonoCyrLt.svg#DecimaMonoCyrLt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
