<form method="post" class="authorization">
    <div class="authorization__helper">
        <span class="authorization__title">авторизация</span>
        <div class="authorization__login">
            <span class="authorization__label">логин</span>
            <input name="login" class="authorization__input" type="text" />
        </div>
        <div class="authorization__pswd">
            <span class="authorization__label">пароль</span>
            <input name="password" class="authorization__input" type="password" />
        </div>
        <ButtonComponent Classes="btn authorization__btn btn_bg_blue btn_capitalize btn_size_s btn_title_style" Title="войти"/>
    </div>
</form>

@code {

}
