<header class="header header_theme_orange header_shadow_inner">
    <div class="header__helper">
        <div class="header__wrapper">
            <span class="header__title header__title_text_color">аис анализ пуск-останов</span>
        </div>
    </div>
</header>
@code {

}
