<button class="@Classes" type="@BtnType" @onclick="Click">@Title</button>

@code {
    [Parameter]
    public string Classes { get; set;} = string.Empty;
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string BtnType { get; set; } = string.Empty;

    [Parameter]
    public EventCallback Click { get; set; }
}
