.btn {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height:40px;
    cursor: pointer;
}

.btn_title_style {
    font: normal 300 20px/23px 'Roboto Lt';
    color: #FFFFFF;
}

.btn:hover {
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.3);
}

.btn_bg_blue {
    background-color: #002552;
}

.btn_capitalize {
    text-transform: capitalize;
}

.btn_uppercase {
    text-transform: uppercase;
}

.btn_size_s {
    width: 200px;
}

.btn_size_m {
    width: 220px;
}

.btn_size_l {
    width: 400px;
}
