@page "/login"

<PageTitle>Страница авторизации</PageTitle>

<main class="main">
    <div class="main__helper">
        <div class="main__wrapper">
            <LoginPanelComponent />
        </div>
    </div>
</main>

@code {

}
